#root
{
	-fx-background-color: linear-gradient(to bottom right, #dcdcdc, #d3d3d3);
}
.combo-box
{
	-fx-pref-width: 150px;
	-fx-pref-height: 50px;
	-fx-font-size:15;
}
#top
{
	-fx-pref-height: 100px;
	-fx-font-family: 'Helvetica', Arial, sans-serif;
	-fx-font-size:30;
	-fx-font-weight:bold;
	-fx-padding:25,10,25,10;
}

#bottom
{
	-fx-pref-height: 100px;
	-fx-padding: 15px;
}
#center
{
	-fx-background-color: blue;
	-fx-pref-height: 400px;
	-fx-pref-width: 640px;
}

#left
{
	-fx-pref-width: 150px;
}

.button
{
	-fx-pref-width: 150px;
	-fx-pref-height: 50px;
	-fx-background-radius: 0;
	-fx-border-color: #e7e7e7;
	-fx-border-size: 5px;
}

#right
{
	-fx-pref-width: 10px;
}

#childRoot
{
	-fx-background-color: linear-gradient(to bottom right, #dcdcdc, #d3d3d3);
}

#childTop
{
	-fx-pref-height: 50px;
	-fx-font-family: 'Helvetica', Arial, sans-serif;
	-fx-font-size:30;
	-fx-font-weight:bold;
	-fx-padding:15,5,15,5;
	-fx-alignment:center;
}

#childBottom
{
	-fx-pref-height: 50px;
	-fx-padding: 15px;
}

#childCenter
{
	-fx-pref-height:600px;
	-fx-pref-width:600px;
	-fx-alignment:center;
	-fx-hgap:5px;
	-fx-vgap:5px;
}

#childLeft
{
	-fx-pref-width: 50px;
}

#childRight
{
	-fx-pref-width:50px;
}

#leagueDropDown
{
	-fx-pref-width:150px;
	-fx-pref-height:50px;
	-fx-background-radius: 0;
	-fx-border-color: #e7e7e7;
	-fx-border-size: 5px;
}